{
  "extends": "eslint:recommended",
  "env": {
  	"browser": true,
	"commonjs": true,
  },
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "no-console": 0,
	// FIXME: eslint reports that vars used only
	// as JSX tag types are unused
	"no-unused-vars": 0,
    "semi": 2
  },
  "parserOptions": {
    "ecmaFeatures": {
	  "jsx": true,
	}
  }
}
